@charset "utf-8";
#xiaohui {
	margin: 30px 0px 30px 40px;
}
#currentTime{
    position: absolute;
    font-size: 1px;
    color: #fffFFF;
}
/*#shouyeyou {
    position: fixed;
    right: 40px;
    box-sizing: border-box;
	overflow: hidden;
	background: no-repeat center top / 100% 100%;
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url("shouyeyou.jpg");
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url("shouyeyou.jpg");
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url("shouyeyou.jpg");
}*/
.shouyeyou {
    position: fixed;
    width: 386px;
    height: 113px;
    right: 40px;
    background: -webkit-linear-gradient(to left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%), url("../img/shouyeyou.jpg") no-repeat;
    background: -o-linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%), url("../img/shouyeyou.jpg") no-repeat;
    background: linear-gradient(to left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%), url("../img/shouyeyou.jpg") no-repeat;
    margin-top: 1px;
    /* [disabled]color: #DEADFF; */
    margin-right: -50px;
}
.login {
    top: 0px;
    position: fixed;
    right: 56px;
    color: #FFFFFF;
    margin-top: 9px;
    font-variant: normal;
    font-style: italic;
    font-size: xx-small;
}
.login:hover {
    text-decoration: underline;
}

.super_login {
    position: fixed;
    top: 0px;
    right: 122px;
    color: #FFFFFF;
    margin-top: 9px;
    font-style: italic;
    font-size: xx-small;
}
.super_login:hover {
    text-decoration: underline;
}
.footer {
    font-style: italic;
    font-size: xx-small;
    font-weight: 100;
    text-align: center;
    position: static;
}


.shouye_header {
    background-color: #168AC2;
    padding-bottom: 20px;
}
<<<<<<< HEAD
.footer {
    position: static;
    bottom: 1px;
    font-style: italic;
    font-weight: lighter;
    font-size: x-small;
    text-align: center;
}
=======

.nav,.nav ul {
    list-style:none;
    margin: 0px;
    padding:0;
}

.nav {
    position:relative;
}

.nav ul {
    height:0;
    left:0;
    overflow:hidden;
    position:absolute;
    top:10px;
}

.nav li {
    float:left;
    position:relative;
}

.nav li a {
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -webkit-transition:0.5s;
    background-color:#66CCFF;
    border:1px solid #66CCFF;
    color:#000;
    display:block;
    font-size: 16px;
    line-height: 35px;
    padding: 1px 162px;
    text-decoration:none;
    transition: 1s;
}

.nav li:hover > a {
    background:#8CCA33;
    border-color:#66CCFF;
    color:#000;
}

.nav li:hover ul.subs {
    height:auto;
    /*width:390px;*/
    width: (390/1080)*100%;
}

.nav ul li {
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -webkit-transition:0.5s;
    opacity:0;
    transition:0.5s;
    width:100%;
}

.nav li ul li {
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
    -webkit-transition-delay:0s;
    transition-delay:0s;
}

.nav li:hover ul li {
    opacity:1;
    -moz-transition-delay:0.5s;
    -o-transition-delay:0.5s;
    -webkit-transition-delay:0.5s;
    transition-delay:0.5s;
}

.nav ul li a {
    background:#66CCFF;
    border: color #66CCFF;;
    color:#000;
    line-height: 1px;
    -moz-transition:1.5s;
    -o-transition:1.5s;
    -webkit-transition:1.5s;
    transition:1.5s;
}

.nav li:hover ul li a {
    line-height: 35px;
}


.nav ul li a:hover {
    background:#8CCA33;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(-90deg,rgba(255,255,255,0.5),rgba(255,255,25,0));
}
>>>>>>> fe6363d17e29c424e70eea71dd78698c5c927f50
